$modal-fade-transform: translateX(-10px);

$modal-show-transform: translateX(0);

@import "bootstrap/scss/bootstrap";

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.room-card {
  $my-2-height: 16px;
  height: calc(100vh - $my-2-height);

  &__message-container {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .room-card {
    $navbar-height: 56px;
    $my-2-height: 16px;
    height: calc(100vh - $navbar-height - $my-2-height);

    &__message-container {
      width: 94%;
    }
  }
}

@media screen and (max-width: 768px) {
  .room-card__message-container {
    width: 92%;
  }
}

@media screen and (max-width: 576px) {
  .room-card__message-container {
    width: 89%;
  }
}

.msg-footer__textarea {
  resize: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
