<%= link_to room_path(room) do %>
  <div class="card-body border-bottom">
    <div class="row">
      <div class="col-2 col-sm-1 col-lg-2">
        <%= image_tag room_image_url(room, current_user), class: 'img-fluid rounded-circle' %>
      </div>
      <div class="col-8 align-self-center">
        <p class="mb-0">
          <%= room_name(room, current_user) %>
        </p>
      </div>
    </div>
  </div>
<% end %>
