<div class="card my-2 room-card">
  <div class="row h-100">
    <div class="col-lg-4 h-100 overflow-auto px-0">
      <%= render @rooms %>
    </div>

    <div class="col-lg-8 d-none d-lg-block border-start">
      <div class="card-body h-100 d-flex">
        <p class="card-title fs-5 align-self-center text-center w-100">メッセージを送信しましょう</p>
      </div>
    </div>
  </div>
</div>
